/* .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #ffffff;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  padding: 12px 16px;
  border-radius: var(--border-radius);
  border: 1px solid #e5e5e5;
} */
.dropdown-right {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  background-color: #ffffff;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  padding: 12px 16px;
  border-radius: var(--border-radius);
  border: 1px solid #e5e5e5;
}

.dropdown li,
.dropdown-right li {
  background: none;
  padding: 0.2rem;
  text-align: left;
  cursor: pointer;
  font-size: 16px;

  border-bottom: 1px solid #e5e5e5;
  list-style: none;
  border-radius: 5px;
}

.dropdown ul,
.dropdown-right ul {
  padding: 0;
  margin: 0;
}
.dropdown li:hover,
.dropdown-right li:hover {
  background-color: rgb(229, 229, 229);
}

.dropdown-button {
  display: flex;
  justify-content: start;
  align-items: center;
}
