.task-column {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  margin: 5px;
  background-color: var(--primary-color);
}

.task-column h2 {
  margin-bottom: 20px;
}

.title-column {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: var(--border-radius);

  height: 2rem;
  cursor: default;
  margin: 0;
}

.dragging-over {
  border-style: dashed;
  margin: 0;
  padding: 0;
  border-color: var(--primary-color);
  border-radius: var(--border-radius);
}
.dragging-over:hover {
  margin: 0;
  padding: 0;
  border: none;
}
.tasks-number {
  font-size: small;
  font-weight: bold;
  width: 1.3rem;
  height: 1.3rem;
  /* height: 1rem; */
  background-color: var(--plus);
  color: white;
  border-radius: 50%;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
h4 {
  margin: 0;
  padding: 0;
}
