.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: var(--border-radius-half);
  background-color: #f4f4f4;
  height: var(--task-height);
  position: relative;
  cursor: pointer;
}
.task:hover {
  background-color: #e9e9e9;
}

.text {
  display: flex;
  align-items: center;
  position: absolute;
  font-size: small;
  padding: 0.2rem;
  border-top-left-radius: var(--border-radius-half);
  border-bottom-right-radius: var(--border-radius);
}
.title {
  font-size: 1.2rem;
  margin: 0 0.5rem;
  color: var(--task-color);
}

.owner {
  top: 0;
  left: 0;
  background-color: var(--task-color);
  color: var(--task-versus-color);
}
.tasks-button {
  background: none;
  border: none;
  margin-right: 0.9rem;
  padding: 0;
  cursor: pointer;
  color: var(--task-versus-color);
  font-size: small;
  height: 0.3rem;
  width: 0.3rem;
}
.tasks-button:hover {
  color: var(--task-color);
}

.category {
  bottom: 0;
  right: var(--width-priority);
  background-color: var(--task-versus-color);
  color: var(--task-color);
  border-bottom-right-radius: 0px !important;
}
.circle {
  width: var(--width-priority);
  height: var(--task-height);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.task-buttons {
  display: flex;
  align-items: center;
  position: absolute;
  font-size: small;
  top: 0;
  right: 0;
  margin-right: 0.5rem;

  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

#actions {
  border: none;
  background: none;
  margin: 1rem;
  cursor: pointer;
}
