.Users {
  display: flex;
  flex-direction: column;
}
.table-board {
  flex: 1;

  max-height: 100%; /* Replace 60px with the height of your header */
  overflow-y: auto; /* This will add a vertical scroll to the .table-board */
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  border: 1rem solid #ffffff;
  background-color: var(--primary-color);
  max-width: 62rem;
  /*width: 100%; This will make the table take up as much space as it can, up to the max-width */
  margin: 0 auto; /* This will center the table */
}

.main-board {
  display: block;
  flex: 1;
  gap: 20px;
}
