.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--secondary-color);
  padding: 0 20px;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__left,
.header__center,
.header__right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__left > .burger-icon,
.header__right > .profile-icon {
  margin-right: 20px;
}

.header__center {
  flex: 1;
  margin: 0 20px;
}

.header__center > input {
  flex: 1;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
}
img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.header-name {
  /* margin-right: 2rem; */
  font-weight: bold;
  text-shadow: #fff 0px 0px 1px;
}
.profile-icon,
#logo-menu {
  border: var(--primary-color) 2px solid;
  cursor: pointer;
  transition: transform 0.5s ease;
}

#logo-menu:hover {
  opacity: 0.4;
  transform: rotate(360deg);
}
.notificationIcon {
  display: flex;
  background-color: var(--secondary-color);
  border-radius: 50%;
  border: none;
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}
.notificationIcon:hover {
  color: var(--primary-color);
}

.notificationIcon:active {
  transform: scale(1.1);
}

#notificationsCounter {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: -10%;
  right: -1%;
  background-color: var(--primary-color);
  color: var(--task-color);
  border-radius: 50%;
  font-size: 0.7rem;
  font-weight: bold;
  width: 1rem;
  height: 1rem;
}

#dropdown-basic {
  background-color: var(--secondary-color);
  border: none;
  content: none;
}

.dropdown-toggle::after {
  display: none;
}
