/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.page-wrap {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.filter-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.filter-side {
  display: flex;
  max-width: 13rem;
}
.restore-button,
.add-some {
  display: block;
  justify-content: center;
  align-items: center;
  color: cadetblue;
  cursor: pointer;
  transition: transform 0.5 ease;
}
@media (max-width: 529px) {
  .restore-button,
  .add-some {
    font-size: 1.5em; /* Aumenta o tamanho da fonte */
  }
}

.restore-button:hover,
.add-some:hover {
  opacity: 0.4;
  transform: scale(0.9);
}

.top-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}
.restore-some {
  cursor: pointer;
}
.restore-some:hover {
  opacity: 0.4;
  transform: scale(0.9);
}
.restore-button::after,
.add-some::after {
  position: absolute;
  white-space: nowrap;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.1s ease-in-out;
  opacity: 0;
}

.view {
  font-size: 1.5rem !important;
}
/* .form-input {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
} */

.form-input img {
  margin-right: 5px;
  margin-left: 5px;
}

.form-input input {
  border: none;
  flex-grow: 1;
  outline: none;
  box-shadow: none;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  margin-bottom: 0.5rem;
}

.form-group select,
.form-group input {
  padding: 0.5rem;
  border-radius: var(--border-radius-half);
}

select,
form input {
  /* width: 100%; */
  border: none;
}
select:focus {
  outline: none;
}
select:hover {
  cursor: pointer;
}

/* .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  padding: 2rem;
  z-index: 2;
  border-radius: 10px;
  width: 23rem;
 
} */

.header-profile .long-text {
  margin: 0 0 0.5rem 0;
  text-align: center;
  font-size: 1.2em;
}

.task-card {
  position: relative;
  padding-top: 10px;
  max-width: 100%;
}

.priority-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
}

.task-detail {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.task-detail-label {
  font-weight: bold;
  margin-right: 10px;
}
.time-left {
  white-space: nowrap;
}
.text-content {
  max-height: 200px; /* Adjust as needed */
  overflow-y: auto; /* Add scroll if needed */
  white-space: pre-wrap; /* Preserves line breaks and spaces, and wraps long lines */
  word-wrap: break-word; /* Breaks the word at the end of the line */
}
select {
  width: 100%;
  padding: 0.5rem;
  border-radius: var(--border-radius-half);
}

form button {
  margin-top: 1rem;
  background-color: var(--task-color);
  color: var(--primary-color);
  border-radius: var(--border-radius-half);
  height: 2rem;
  border-style: none;
}

.yes-no {
  border: none;
  border-radius: var(--border-radius-half);
  /* height: 2rem; */
  width: 5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.yes {
  background-color: var(--task-color);
  color: var(--primary-color);
}
.submit-button:hover,
.no:hover,
.yes:hover {
  opacity: 0.7;
}
.no {
  background-color: var(--task-versus-color);
  color: var(--task-color);
}
.no:hover {
}
.button-container {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 0;
}

p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  height: auto;
  background-color: burlywood;
}

.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  height: 15rem;
  /* background-color: bisque; */
}

.container {
  /* border: 1px solid black; */
  padding: 20px;
  margin-bottom: 20px;
}

.row {
  margin-bottom: 10px;
  border-radius: var(--border-radius);
  gap: 0rem;
}

.col-lg-6,
.col-lg-12 {
  border-radius: var(--border-radius);
}
.col-lg-4,
.col-lg-8 {
  border-radius: var(--border-radius);
}
.col-lg-3 {
  border-radius: var(--border-radius);
}
.card {
  box-shadow: var(--box-shadow);
}
.tasks-qt {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn-success {
  background-color: none;
  color: var(--task-color);
}

.table > tbody {
  vertical-align: middle;
}
